.button {
  height: 48px;
  color: #fff;
  border-color: transparent;
  background-color: #F2726C;
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
