.header {
  background-color: #F7F3F4;

  @media (min-width: 1024px) {
    padding-bottom: 128px;
  }

  &__content {
    margin-top: 70px;

    @media (min-width: 1024px) {
      display: flex;
      padding-left: 80px;
    }
  }

  &__text-block {
    @media (min-width: 768px) {
      max-width: 70%;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      max-width: 45%;
      margin: 0;
    }
  }

  &__title {
    color: transparent;
  }

  &__title-img {
    max-width: 100%;

    @media (min-width: 1024px) {
      margin-bottom: 59px;
    }
  }

  &__title-text {
    position: absolute;
    left: -100%;
  }

  &__description {
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 40px;
  }

  &__parrot-block {
    position: relative;
    padding-bottom: 150px;

    @media (min-width: 1024px) {
      margin-top: 30px;
    }

    @media (min-width: 1439px) {
      margin-top: 85px;
    }
  }

  &__parrot {
    position: absolute;
    right: -250px;

    @media (min-width: 768px) {
      right: 205px;
    }

    @media (min-width: 1024px) {
      right: -55%;
      top: 11%;
      width: 100%;
    }
  }

  &__card {
    margin-left: 50px;
    padding: 33px;
    width: 215px;
    height: 255px;
    background-image: url("CardBG.svg");
    background-position: center;
    border-radius: 30px;
    transform: translateY(85%);

    &-icon {
      width: 33px;
    }

    &-text {
      margin-top: 90px;
      color: #fff;
      font-weight: 700;
    }

    &-members {
      font-size: 15px;
      line-height: 140%;
    }

    &-count {
      font-size: 40px;
      line-height: 100%;
    }
  }
}
