.mission {
  padding: 100px 0;

  &__content {
    @media (min-width: 768px) {
      display: flex;
      gap: 30px;
    }
  }

  &__text {
    margin: 20px 0 32px;
  }

  &__accordionBlock {
    margin-top: 48px;

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
