.nav {
  position: relative;

  &__logo {
    cursor: pointer;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
  }

  &__menuDesktop {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    outline: none;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__burgerActive {
    & :first-child {
      transform: rotate(45deg) translateY(2px);
    }
    & :nth-child(2) {
      display: none;
    }

    & :last-child {
      transform: rotate(-45deg) translateY(-2px);
    }
  }

  &__burgerItem {
    height: 3px;
    width: 22px;
    background-color: #000;
    transition: transform 0.3s;
  }

  &__burgerItemShort {
    margin: 4px 0 4px 4px;
    width: 17px;
  }
}

.divider {
  height: 3px;
  background-color: #222433;
}
